<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/angular.min.js"></script>
<script src="js/ui-bootstrap-tpls-1.3.3.min.js"></script>
<script src="js/app.js"></script>
<title>XML Project</title>
</head>
<body>
	<div data-ng-app="app" data-ng-controller="appController">
		<div class="container">
			<h2>Meni</h2>
			<div>
				<form>
					<h3>Pretraga</h3>
					<input data-ng-model="searchTerm" type="text" class="form-control" placeholder="Tekst za pretragu" required>
					<button class="btn btn-primary" data-ng-click="search()">Pretraži</button>
				</form>
				<div data-ng-show="searchResults.length">
					<h4>Rezultati pretrage</h4>
					<div data-ng-repeat="result in searchResults">
						<div>{{result.name}} - {{result.url}}</div>
					</div>
				</div>
			</div>
			<div data-ng-show="loggedIn">
				<h3>Akti i amandmani</h3>
				<button class="btn btn-primary" data-ng-hide="showNewAct" data-ng-click="newAct()">Predloži akt</button>
				<br /><br />
				<div data-ng-show="showNewAct">
					<form class="form-group">
						<label>Preambula:</label>
						<textarea class="form-control" data-ng-model="materijalniPravniOsnov" rows="5" placeholder="Materijalni pravni osnov za donošenje propisa"></textarea>
						<textarea class="form-control" data-ng-model="formalniPravniOsnov" rows="5" placeholder="Formalni pravni osnov za donošenje propisa"></textarea>
						<textarea class="form-control" data-ng-model="nazivDonosiocaPropisa" rows="5" placeholder="Naziv organa koji donosi propis za donošenje propisa"></textarea>
						<textarea class="form-control" data-ng-model="saglasnostOrgana" rows="5" placeholder="Naziv organa koji je dao saglasnost"></textarea>
						<textarea class="form-control" data-ng-model="saglasnostNaznaka" rows="5" placeholder="Naznaka o datoj saglasnosti"></textarea>
						<label>Naziv:</label>
						<input class="form-control" type="text" data-ng-model="naziv" placeholder="Naziv propisa">
						<br />
						<div class="alert alert-info" role="alert">
							<strong>Kako se piše predlog propisa:</strong>
							<br />
							Delovi mogu imati nazive. Ako jedan deo ima naziv, svi moraju imati.
							<br />
							Glave, odeljci i pododeljci moraju imati nazive.
							<br />
							Član mora imati naziv, osim u slučaju kada je jedini član u glavi, odeljku ili pododeljku.
							<br />
							Stavovi, tačke, podtačke i alineje sadrže tekst.
							<br />
							Stav može da se deli na tačke, tačke na podtačke, podtačke na alineje.
						</div>
						<label>Sadržaj:</label>
						<div data-ng-repeat="element in elements">
							<select class="form-control" data-ng-options="part for part in parts" data-ng-model="element.type"></select>
							<textarea class="form-control" data-ng-model="element.value" rows="2" placeholder="Naziv ili sadržaj"></textarea>
							<button class="btn btn-primary" data-ng-click="remove(element)">Ukloni</button>
						<br /> 
						</div>
						<br />
						<button class="btn btn-primary" data-ng-click="addNewElement()">Dodaj</button>
						<br />
						<label>Obrazloženje:</label>
						<textarea class="form-control" data-ng-model="obrazlozenje" rows="5" placeholder="Obrazloženje za predlaganje propisa"></textarea>
						<br /><br />
						<div class="alert alert-danger" role="alert" data-ng-repeat="errorMessage in errorMessages">
							{{errorMessage}}
						</div>
						<button class="btn btn-primary" data-ng-click="saveNewAct()">Predloži</button>
						<button class="btn btn-primary" data-ng-click="closeNewAct()">Otkaži</button>
					</form>
				</div>
			</div>
			<div data-ng-show="document">
				<button class="btn btn-primary">XHTML</button>
				<button class="btn btn-primary">PDF</button>
				<h2 data-ng-bind="document.name"></h2>
			</div>
		</div>
		<div class="container" data-ng-hide="loggedIn">
			<form>
				<h2>Forma za prijavu</h2>
				<input data-ng-model="username" type="text" class="form-control" placeholder="Korisničko ime" required autofocus>
				<input data-ng-model="password" type="password" class="form-control" placeholder="Lozinka" required>
				<button class="btn btn-lg btn-primary btn-block" data-ng-click="login()">Prijavi se</button>
			</form>
		</div>
	</div>
</body>
</html>